body {
	margin: 0;
    /*overflow-y: hidden;     *//*Hide vertical scrollbar*/
}

/*.map-page-class, #map-content.ui-content {
	width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.map-page-class #map-content, #map {
    width: 100%;
    height: 100%;
    padding: 0;
}*/

#map {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
}

.ui-icon-zmo-gps {
	background-image: url('../img/arrow-shift-15.png');
}

#title-zimas {
	font-family: 'Syncopate', sans-serif;
	letter-spacing: -1px;
    color: #FFD063;
}

#title-mobile {
	color: #EEE;
}

/*To hide actions list in parcel search InfoTemplate*/
.actionsPane {
	display: none;
}

/*These limit the width of the callout so it doesn't bleed off a mobile screen*/
.esriPopup .sizer {
	width: 175px;
}
.esriPopup .title {
	width: 130px;
}

/*Space out callout data*/
.esriPopup .contentPane div {
	margin-bottom: 5px;
}

/*Hide maximize button*/
div.titleButton.maximize {
	visibility: hidden;
}


/*GPS*/

@-webkit-keyframes pulse {
	0% {
		opacity: 1.0;
		-webkit-transform: scale(1.25);
	}
	45% {
		opacity: .20;
		-webkit-transform: scale(.80);
	}
	100% {
		opacity: 1.0;
		-webkit-transform: scale(1.25);
	}
}

@-moz-keyframes pulse {
	0% {
		opacity: 1.0;
		-webkit-transform: scale(1.25);
	}
	45% {
		opacity: .20;
		-webkit-transform: scale(.80);
	}
	100% {
		opacity: 1.0;
		-webkit-transform: scale(1.25);
	}
}


/*#gps-graphics-layer_layer {
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-timing-function:ease-in-out;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: pulse;
}*/


#gps-graphics-layer_layer circle:first-child { 
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
  	-moz-animation-name: pulse;
}


/*SEARCH PAGE*/

.search-input-row {

}

#search-sub label {
	/*margin-bottom: 50px;*/
}

#search-sub.ui-input-text {
	/*margin-bottom: 50px;*/
}

/*FAVORITES PAGE*/

p.favorites-type {
	color: rgb(119, 193, 242);
}



/*LAYERS PAGE*/

#layers legend {
	font-size: 15px;
	font-weight: bold;
}

#layers .ui-checkbox .ui-btn-inner, .ui-radio .ui-btn-inner {
	font-size: 15px;
	font-weight: normal;
}

#layers fieldset {
	margin-bottom: 25px;
}

#layers fieldset.bottom-fieldset {
	margin-bottom: 0px;
}


/*PARCEL PAGE*/

table.parcel-info {
    border-collapse: collapse;
    width: 100%;
}

table.parcel-info tr td {
    border-bottom: 1px solid #bbbbbb;
    font-size: 14px;
    padding: 5px;
}

table.parcel-info tr td:nth-child(1) {
    font-weight: bold;
}

/*Small window*/
@media (max-width: 499px) {
    table.parcel-info tr td:nth-child(1) {
        width: 35%;
    }
}

/*Big window*/
@media (min-width: 500px) {
    table.parcel-info tr td:nth-child(1) {
        width: 200px;   /*This keeps the columns from being too far apart*/
    }
}

table.parcel-info tr:nth-last-child(1) td {
    border-bottom: 0;
}